@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 24 100% 98%;
    --foreground: 30 33% 10%;
    --card: 0 0% 100%;
    --card-foreground: 30 33% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 30 33% 10%;
    --primary: 357 78% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 30 33% 95%;
    --secondary-foreground: 30 33% 15%;
    --muted: 30 20% 95%;
    --muted-foreground: 0 0% 54%;
    --accent: 20 90% 46%;
    --accent-foreground: 0 0% 100%;
    --destructive: 351 82% 38%;
    --destructive-foreground: 0 0% 100%;
    --border: 28 38% 90%;
    --input: 28 38% 90%;
    --ring: 20 90% 46%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
